<form method="POST" action="/posts">
  <label>Blog Name: <input type="textarea" name="name"/></label>
  <label>Blog Post: <input type="textarea" name="content"/></label>
  <input type="submit" value="submit">
</form>
